<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <link rel="stylesheet" href="./output.css">
    <link rel="shortcut icon" href="./Facebook_Logo_Primary.png" type="image/x-icon">
</head>

<body>

<div class="w-screen h-screen bg-gray-facebook flex items-center justify-center">
    <div class="w-580 pr-8">
    <h1 class="text-blue-facebook font-bold text-6xl">facebook</h1>
    <br>

    <h2 class="font-light  text-2xl text-black ">O Facebook ajuda você a se conectar e compartilhar com as pessoas que<br> fazem parte da sua vida.</h2>
</div>

<div class="bg-white p-4 w-380 rounded-md flex justify-center items-center flex-col shadow-lg">

    
    <input placeholder="E-mail ou Telefone" class=" select-text border-gray-300  hover:outline-blue-600 rounded-md border w-full h-14 mb-2.5 pl-2">

    <input placeholder="Senha" class=" select-text border-gray-300  hover:outline-blue-600  border w-full h-14 mb-2.5 pl-2"></inputplaceholder>

    <button class="text-lg h-12 w-full bg-blue-facebook rounded-md text-white font-bold text-xl">Entrar</button>

    <a href="https://pt-br.facebook.com/login/identify/?ctx=recover&ars=facebook_login&from_login_screen=0" class=" underline decoration-sky-600 hover:decoration-blue-400 text-blue-facebook cursor-pointer mt-4 ">Esqueceu a senha?</a>

    
    <hr class="w-full m-4 border-gray-300 border-1">
    <button class=" bg-green-facebook hover:bg-green-500 h-12 rounded-md text-white px-4 font-bold">Criar nova conta</button>
</button>


</div>
<div>
</body>
</html>
    
